
.sidenav {
    height: 100%;
    width: 50px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 10px;
    /* margin: 8px 8px 8px 10px; */
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #ff3620;
  }
  .itemName{
    margin-left: 15px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #root {
    transition: margin-left .5s;
    padding-left: 20px;
    font-family: 'Open Sans';

  }
  .home::-webkit-scrollbar {
    display: none;
  }
  body::-webkit-scrollbar {
    display: none;
  }
  body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    background-color: #f7f5f4;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  .header{
    display: flex;
    flex-direction: row;
    height: 50px;
    background-color: #f7f5f4;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.3);
    position: sticky; top: 0;
    z-index: 100000;
    transition: 0.5s;
  }
  .moreGrid:after {
    content: '\2807';
    font-size: 20px;
  }
  .btn{
    background-color: #ff3620;
    border: none;
    border-radius: 5px;
    width: 150px;
    height: 32px;
    cursor: pointer;
    color: white;
  }
  .btnGrid{
    margin-left: 15%;
  }
  .headingTextGrid{
    margin-left: 15%;
    
  }
  .prodDdContainder{
    display: flex;
    justify-content: flex-start;
    height: 50px;
    align-items: center;
    margin: 5px 10% 5px 15%;
  }
  .dropDown{
    border: none;
    height: 30px;
    width: 150px;
    border-radius: 5px;
    border: solid 1px #80808061;
    text-align: center;
    margin-right: 20px;
  }

  .input {
    padding: 10px;
    font-size: 17px;
    border: none;
    border-radius: 5px 0px 0px 5px;
    background-color: white;
    width: 80%;
    height: 10px;
    border: solid 1px #80808061;
    padding: 9px 4px 9px 40px;
    background:  white url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
  }
  
  .searchBtn {
    background-color: #ff3620;
    border: none;
    border-radius: 0px 5px 5px 0px;
    width: 80px;
    height: 30px;
    cursor: pointer;
    color: white;
    
  }
  
  .searchBtn:hover {
    background: #ff2020;
  }
  
  .serachBarContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    margin: 5px;
    margin-left: 15%;
  }
  .listContainer{
    list-style-type: none;
  }
  .listItem{
    background: white;
    width: 80%;
    min-height: 30px;
    display: flex;
    align-items: center;
    border-bottom: solid 1px #80808073;
    padding: 5px;
  }
  .cardContainer{
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin: 1% 10% 5px 15%;
  }
  .cradHeader{
    display: flex;
    align-items: center;
    height: 70px;
    padding-left: 20px;
  }
  .searchDropDown{
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
  }
  .searchValues{
    text-align: center;
    width: 100%;
    padding: 12px 16px;
    border: none;
    background-color: #f6f6f6;
    border-bottom: solid 1px #80808073;
  }
  .searchValues:hover, .searchValues:focus {
    background-color: #ff3620;
    color: white;
  }
  
  .dropdownContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 15%;
    width: 74%;
    position: absolute;
    background-color: #f6f6f6;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
    border-radius: 5px;
  }
  .addProd{
    border: none;
    padding: 0px;

  }
  .noDataText{
    color: lightgray;
    height: 50px;
  }

  .App {
    text-align: center;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: fixed;
    bottom: 10vh;
    width: 30%;
    left: 70%;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;

  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .botBtn{
    background-color: #ff2020;
    border: none;
    border-radius: 45%;
    cursor: pointer;
  }
  .botDiv{
    position: fixed;
    bottom: 0;
    left: 90%;
    bottom: 2%;
  }
  .addDeleteContainer{
   display: flex;
   flex-direction: row;
  }

  @media screen and (max-width: 950px){
    .dropDown{
      width: 100px;
    }
    .input{
      width: 70%;
    }
    .botDiv{
      left: 85%;
    }
  }